/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2016, 2:54:15 PM
    Author     : Danielle
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #ddb6f0;
}

body{
    font-family: "Arial";
    font: normal 14px sans-serif;
    background-color: #ddb6f0;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/

#image {
  //  float: left;
  //  position: fixed;
  //  top:60px;
   // right:700px;
    max-width: 100%;
    width: 490px;
    height: 380px;
    border: 5px solid rgba(0,0,0,.2);

}

#video-placeholder{
    max-width: 100%;
    width: 490px;
    height: 380px;
   // width: 100%;
    //position: fixed;
  //  top: 60px;
   // right: 200px;
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddb6f0;
}

li {
    float: left;
    clear: left;
}
*/
li a {
  //  display: block;
    //color: white;
    color: white;
    cursor: pointer;
  //  text-align: center;
 //   padding: 16px;
 //   text-decoration: none;
}

li a :hover {
    background-color: #999;
    cursor: pointer;
}  

h3{
    color: #333333;
    font-family: "Arial";
}

#listofimages{
    //alignment-adjust: central;
    background-color:#83529a;
    //padding: 7px;
    border-radius: 3px;
    box-shadow: 0 0px 12px rgba(0,0,0,.74);
    list-style-type: none;
    //margin: 0;
   // overflow: hidden;
}
#listpdfimages{
    display: block;
    //color: white;
    color: white;
    text-align: center;
   // border-radius: 3px;
    padding: 12px;
    text-decoration: none;
    //cursor: pointer;
}
#containerimagespdf{
    border-radius: 3px;
    box-shadow: 0 0px 12px rgba(0,0,0,.74);
}
/*
.imageroll {
   // display: block;float: left;margin-right: 5px;
    position: fixed;
   // right:15px;
    bottom:200px;
    left:20px;
   width: 100px; // I took the width from your post and placed it in css 
   height: 100px;
} */
/* This will style any <img> element in .parent div */

/*
.imageroll img {
   
   height: 100%;
   width: 100%;
}
*/